<h4>Recent Challenges</h4>
<% if @five_challenges.present? %>
  <% @five_challenges.each do |challenge| %>
    <div class="challenge-item">
      <%= link_to(challenge.title, challenge_path(challenge)) %>
    </div>
  <% end %>
  <br />
  <%= link_to("View all challenges", challenges_path) %>
<% else %>
  No challenges. YET!
<% end %>