<%= content_for(:scripts) do %>
  <%= javascript_include_tag 'jquery.jcountdown' %>

<script type="text/javascript">
$(document).ready(function() {

      
  $("#time").countdown({
    //date: "january 30, 2013 12:35",
    date: "<%= (@challenge.created_at + 7.days).strftime("%B %e, %Y 20:00") %>",
    onComplete: function( event ) {

    },
    leadingZero: true
  });

});
</script>
<% end %>

<div id="container">
  <p id="time" class="time"></p>
</div>