/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

body {

  #user_nav {

    .button_to { 
      float: left;
      margin: 3px 0 0 0;
    }
    width: 180px;
    float: right;
    margin-top: -17px;
    
    .button-signin {
      background-repeat: no-repeat;
      background-position: left;
      width: 65px !important;
      text-align: right;
      margin-right: 15px;
    }
    .twitter {
      background-image: url(twitter-login.png);
    }
    .github {
      background-image: url(github-login.png);
    }
  }
  #header-login-block {
    padding: 0;
    width: 725px;
  }
  .twitter-follow-button { margin-bottom: -3px; }
  .prettyprint {
    /* For some reason pretty print leaves an empty <pre> tag; 
       This hides it. */
    pre { display: none; }
  }
  .container {
    .span4 {
      padding: 5px;
    }
    .navbar-top { margin-top: 15px; }
    .navbar-inner.nav-collapse {
      display: inline-block;
    }
    #main_nav {
      float: right;
    }
    .challenge-item {
      background: #eee;
      padding: 15px;
      margin: 5px;
    }
    footer .navbar-inner div {
      margin-top: 10px;
    }
  }

  .hero-unit {
    margin-top: 25px;
  }
  a:hover {
    text-decoration: none;
  }

  .solutions-table {
    display: table;
    div.cell {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      border-right: 1px solid #eee;
      max-width: 410px;
    }

    div.language { width: 100px; }
    div.title { width: 400px; }
    div.username { 
      width: 200px; 
      .submitted-by {
        display:block;
        font-style: italic;
        font-size: 14px;
      }
      .user { margin-left: 10px; font-size: 14px;}
    }
    
    .vote-cell {
      display: inline-block;
      width: 75px;

      .arrows {
        display: inline-block;
        a.up {
          color: #3DA028;
        }
        a.down {
          color: #94256D;
        }
      }
      .label {padding: 3px}
      .vote-count {
        display: inline-block;
        text-align: center;
        .count {
          color: green;
        }
      }
    }
  }

  form {
    [for=user_email], [for=user_password], [for=user_password_confirmation] {
      margin-bottom: -14px;
    }
    input { margin-bottom: 10px; }
    .actions input {
      margin-top: 15px;
    }
  }
  .header-logo {
    width: 15px;
  }
  .challenge-description {
    width: 100%;
    height: 200px;
  }

  .about-weekly {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    width: 96%;
  }

  footer {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;

    .footer-div {
      background: #eee;
      border: 1px solid #ccc;

      border-radius: 5px;
    }
  }
}
pre.prettyprint { border-radius: 0 !important; padding: 5px !important; }
#editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.clear {
  clear: both;
}