/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

body {
  .twitter-follow-button { margin-bottom: -3px; }
  .prettyprint {
    /* For some reason pretty print leaves an empty <pre> tag; 
       This hides it. */
    pre { display: none; }
  }
  .container {
    .span4 {
      padding: 5px;
    }
    .navbar-top { margin-top: 15px; }
    .challenge-item {
      background: #eee;
      padding: 15px;
      margin: 5px;
    }
    footer .navbar-inner div {
      margin-top: 10px;
    }
  }

  .hero-unit {
    margin-top: 25px;
  }
  a:hover {
    text-decoration: none;
  }

  .solutions-table {
    td {
      vertical-align: middle;
    }

    .vote-cell {
      a.up {
        color: #3DA028;
      }
      a.down {
        color: #94256D;
      }
      width: 40px;

      div {
        display: inline;
        float: right;
        margin: -10px 5px 0px 0;
      }
    }
  }

  form {
    [for=user_email], [for=user_password], [for=user_password_confirmation] {
      margin-bottom: -14px;
    }
    input { margin-bottom: 10px; }
  }
  .header-logo {
    width: 15px;
  }
  .challenge-description {
    width: 300px;
    height: 150px;
  }

  .about-weekly {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    width: 96%;
  }

  footer {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;

    .footer-div {
      background: #eee;
      border: 1px solid #ccc;

      border-radius: 5px;
    }
  }
}

.clear {
  clear: both;
}