<div class="vote-cell cell" rel="<%= solution.id %>">
  <div class="arrows">
    <% if user_signed_in? %>
      <%= presenter.up_vote_arrow %><br />
      <%= presenter.down_vote_arrow %>
    <% end %>
  </div>
  <div class="vote-count">
    <div class="label label-inverse">votes</div>
    <div class="count"><strong><%= solution.popularity %></strong></div>
  </div>
</div>