<% @solutions ||= solutions %>
<h1>Listing solutions</h1>

<% if @solutions.any? %>
  <table class="table table-bordered solutions-table">
    <tr>
      <th>Votes</th>
      <th>Solution url</th>
      <th>User</th>
      <th>Valid solution</th>
      <th>Notes</th>
      <% if can?(:manage, Solution) %>
        <th></th>
        <th></th>
      <% end %>
      <th>Submitted</th>
    </tr>

  <% @solutions.each do |solution| %>
    <%= render partial: 'solutions/solution_row', locals: { solution: solution } %>
  <% end %>
  </table>
<% else %>
  <div id="no-solutions">There doesn't seem to be anything here.</div>
<% end %>

<br />

<p>Login or signup to cast your vote

<div>
  <%= link_to("Submit Solution", new_challenge_solution_path(@challenge), class: 'btn btn-warning btn-large') %>
</div>
