<% @solutions ||= solutions %>
<h1>Listing solutions</h1>

<% if @solutions.any? %>
  <hr />
  <% @solutions.each do |solution| %>
    <%= render partial: 'solutions/solution_row', locals: { solution: solution } %>
  <% end %>
<% else %>
  <div id="no-solutions">Nobody has figured this one out yet...  You could be the first!</div>
<% end %>
